table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}
  
td {
  height: 40px;
  text-align: left;
  padding: 8px;
}

.notFound{
  text-align: center;
}